*.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
libtool
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/avl.lo
src/avl.o
src/ds
src/ds-ds_main.o
src/ds.lo
src/ds.o
src/libds.la
stamp-h1
tests/.deps/
tests/Makefile
tests/Makefile.in
tests/test-suite.log
tests/tests_avl
tests/tests_avl-tests_avl.o
tests/tests_avl-tests_main.o
tests/tests_avl.log
tests/tests_avl.trs
tests/tests_ds
tests/tests_ds.log
tests/tests_ds.trs
